COURSE_SERVICE_URL=http://localhost:3002
USER_SERVICE_URL=http://localhost:3001
QUIZ_SERVICE_URL=http://localhost:3004
BADGE_SERVICE_URL=http://localhost:3005
CERTIFICATE_SERVICE_URL=http://localhost:3006
MCP_PORT=3100
